@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400&display=swap);@import url(https://fonts.googleapis.com/css?family=Satisfy&display=swap);/*

	Mixins
	Author - Andy Crone | @andycrone_
	+ Popular mixins including vendor prefixes for cross-browser support

*/

@-webkit-keyframes colorSwitch {
  0% {
    background-color: red;
  }

  50.0% {
    background-color: yellow;
  }

  100.0% {
    background-color: red;
  }
}

@keyframes colorSwitch {
  0% {
    background-color: red;
  }

  50.0% {
    background-color: yellow;
  }

  100.0% {
    background-color: red;
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(235, 61, 45, 0.4);
    box-shadow: 0 0 0 0 rgba(235, 61, 45, 0.4);
  }

  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(235, 61, 45, 0);
    box-shadow: 0 0 0 10px rgba(235, 61, 45, 0);
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(235, 61, 45, 0);
    box-shadow: 0 0 0 0 rgba(235, 61, 45, 0);
  }
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(235, 61, 45, 0.4);
    box-shadow: 0 0 0 0 rgba(235, 61, 45, 0.4);
  }

  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(235, 61, 45, 0);
    box-shadow: 0 0 0 10px rgba(235, 61, 45, 0);
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(235, 61, 45, 0);
    box-shadow: 0 0 0 0 rgba(235, 61, 45, 0);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

* {
  margin: 0;
  z-index: 1;
  padding: 0;
  border: 0;
  position: relative;
  font-family: inherit;
  font-weight: 300;
  font-size: 14px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

*::-webkit-scrollbar {
  width: 13px;
  background-color: #26272b;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-style: solid;
  border-width: 0 3px;
  border-color: #26272b;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

*:active,
*:focus,
*:hover {
  outline: 0;
}

*:before,
*:after {
  line-height: 1.2em;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

a > hr,
button > hr,
label > hr {
  display: none;
}

textarea {
  resize: none;
}

p {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  /* Instead use this non-standard one: */
  word-break: break-word;
  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

strong {
  font-weight: 500;
  font-size: inherit;
}

small {
  font-size: 12px;
}

code {
  font-family: "Courier New", Courier, monospace;
}

svg {
  width: inherit;
  height: inherit;
}

svg * {
  fill: #fff;
}

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
}

::-moz-placeholder {
  color: rgba(255, 255, 255, 0.3);
}

:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
}

:-moz-placeholder {
  color: rgba(255, 255, 255, 0.3);
}

html {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: visible;
}

::-moz-selection {
  background: rgba(235, 61, 45, 0.75);
  color: #fff;
}

::selection {
  background: rgba(235, 61, 45, 0.75);
  color: #fff;
}

::-moz-selection {
  background: rgba(235, 61, 45, 0.75);
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Satisfy', cursive;
}

i[class*='fa-'] {
  font-size: 1em;
}

i[class*='fa-']:before,
i[class*='fa-']:after {
  font-size: inherit;
}

img:not(.emoji) {
  text-align: center;
  overflow: hidden;
}

img:not(.emoji):before {
  content: 'No se pudo cargar la imagen </3';
  background: #000;
  display: inline-block;
  padding: 30px 30px 30px 20px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.3);
  z-index: 1;
}

img:not(.emoji):after {
  content: '';
  display: block;
  background: #000;
  z-index: 0;
  width: 20px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.emoji {
  display: inline;
  width: 1.4em;
  height: 1.4em;
  margin-bottom: -0.3em;
  font-size: inherit;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

body > img {
  width: auto !important;
  height: auto !important;
}

img:not(.emoji) {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.hidden {
  display: none;
}

.no-results p {
  color: rgba(255, 255, 255, 0.3);
  text-align: center;
}

code {
  background: rgba(0, 0, 0, 0.1);
  padding: 0 5px;
  border-radius: 3px;
  word-break: break-word;
  white-space: pre-wrap;
}

form .button {
  width: 100%;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="url"],
form input[type="radio"],
form textarea:not(.markup) {
  font-size: 14px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 0.3s all ease-out;
  transition: 0.3s all ease-out;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="url"] {
  height: 45px;
  width: 100%;
  background: transparent;
  border-bottom: 4px solid rgba(0, 0, 0, 0.1);
  padding: 0 15px;
  color: rgba(255, 255, 255, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

form input[type="text"]:focus,
form input[type="text"]:hover,
form input[type="email"]:focus,
form input[type="email"]:hover,
form input[type="password"]:focus,
form input[type="password"]:hover,
form input[type="url"]:focus,
form input[type="url"]:hover {
  background: rgba(0, 0, 0, 0.1);
  border-bottom: 4px solid rgba(255, 255, 255, 0.3);
}

form input[type="text"][readonly],
form input[type="email"][readonly],
form input[type="password"][readonly],
form input[type="url"][readonly] {
  color: rgba(255, 255, 255, 0.3);
  border-bottom: 4px solid rgba(255, 255, 255, 0.05);
}

form input[type="text"][readonly]:focus,
form input[type="text"][readonly]:hover,
form input[type="email"][readonly]:focus,
form input[type="email"][readonly]:hover,
form input[type="password"][readonly]:focus,
form input[type="password"][readonly]:hover,
form input[type="url"][readonly]:focus,
form input[type="url"][readonly]:hover {
  background: transparent;
  border-bottom: 4px solid rgba(255, 255, 255, 0.05);
}

form input[type="text"][data-error],
form input[type="email"][data-error],
form input[type="password"][data-error],
form input[type="url"][data-error] {
  color: #eb3d2d;
  border-bottom: 4px solid #eb3d2d;
}

form input[type="text"][data-error]:focus,
form input[type="text"][data-error]:hover,
form input[type="email"][data-error]:focus,
form input[type="email"][data-error]:hover,
form input[type="password"][data-error]:focus,
form input[type="password"][data-error]:hover,
form input[type="url"][data-error]:focus,
form input[type="url"][data-error]:hover {
  border-bottom: 4px solid #eb3d2d;
}

form input[type="radio"] {
  width: 2em;
  height: 2em;
  border: 3px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border-radius: 50%;
}

form input[type="radio"]:checked {
  border: 3px solid #eb3d2d;
}

form input[type="radio"]:checked:hover {
  border: 3px solid #eb3d2d;
}

form input[type="radio"]:checked:after {
  background-color: #fff;
}

form input[type="radio"]:hover {
  border: 3px solid #fff;
}

form input[type="radio"]:hover:after {
  background-color: #fff;
}

form input[type="radio"]:after {
  content: '';
  display: block;
  background-color: #444;
  width: calc(100% - .6em);
  height: calc(100% - .6em);
  margin: .3em;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

form textarea:not(.markup) {
  width: 100%;
  min-height: 100px;
  background: rgba(0, 0, 0, 0.1);
  padding: 15px;
  color: rgba(255, 255, 255, 0.7);
  border: 1px solid transparent;
  font-size: 16px;
  border-radius: 3px;
}

form textarea:not(.markup):focus,
form textarea:not(.markup):hover {
  border: 1px solid rgba(255, 255, 255, 0.3);
}

form a,
form label {
  display: block;
  font-size: 12px;
}

form a {
  text-align: center;
}

form label {
  color: rgba(255, 255, 255, 0.3);
}

form label:first-letter {
  text-transform: capitalize;
}

form label[data-error] {
  color: #eb3d2d;
}

form label[for] {
  cursor: pointer;
}

form .error {
  color: #eb3d2d;
}

blockquote {
  color: #66cc7a;
  -webkit-margin-after: 0;
  -webkit-margin-before: 0;
  margin: 0;
  padding: 0;
}

blockquote:before {
  content: ">";
}

blockquote > p {
  display: inline-block;
  color: inherit !important;
}

.emoji-mart {
  z-index: 2;
  position: fixed;
  top: 50%;
  left: 50%;
  font-family: inherit !important;
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.emoji-mart svg * {
  fill: rgba(0, 0, 0, 0.4);
}

.controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.controls > * {
  margin-left: 15px;
}

.controls ._line {
  color: rgba(255, 255, 255, 0.3);
}

body {
  width: 100%;
  font-family: 'Josefin Sans', sans-serif;
}

body::-webkit-scrollbar {
  width: 7px;
  background-color: #000;
}

body::-webkit-scrollbar-thumb {
  border-width: 0;
}

